discord.token=
discord.clientSecret=
discord.prefix=@mention
discord.awsRole=

aws.accessKey=
aws.secretKey=
aws.region=us-east-1

aws.lambda.1=
aws.lambda.2=
aws.ec2InstanceId=

discord.checkmarkEmoji=✅